@font-face{
    font-family: 'ANReg';
    src: url('faces/ArchivoNarrow-Regular.ttf');
}
@font-face{
    font-family: 'FOReg';
    src: url('faces/FrancoisOne-Regular.ttf');
}
@font-face{
    font-family: 'LGReg';
    src: url('faces/LexendGiga-Regular.ttf');
}