*{margin: 0; padding: 0;}
#app{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}
#background_video{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
    border: none;
    pointer-events: none;
}